body {
  font-family: tahoma;
  background: #97B5E6;
  overflow-x: hidden;
}

/* =========
VARIABLES
========= */
:root {

  --color: #B497E6;
  --color_hover: #FFC745;
  --bg_color: white;

  --bg_image: url(./MyHead.png);

  --font:
    Arial,
    Helvetica,
    sans-serif;
}

/* rajout 2eme menu */
#other_style {
  background-image: var(--bg_image);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

/* info bulles via attribut html SEO ...*/
@media (min-width: 530px) {

  /* conseiller */

  a[aria-labelledby]:focus,
  a[aria-labelledby]:hover::after {
    font-family: var(--font);
    font-weight: 700;
    font-size: 16px;
    content: attr(aria-labelledby);
    opacity: 0.8;
    background-color: var(--bg_color);
    color: var(--color);
    border-radius: 20px;
    max-height: 100%;
    width: 200%;

    position: absolute;

    animation: bulle_animation 0.8s ease-in-out;
  }

  @keyframes bulle_animation {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }

  li:nth-child(1) a[aria-labelledby]:hover::after {
    top: -75%;
    left: 120%;
    transform-origin: left;
  }

  li:nth-child(2) a[aria-labelledby]:hover::after {
    top: 0%;
    left: 120%;
    transform-origin: left;
  }

  li:nth-child(3) a[aria-labelledby]:hover::after {
    top: 75%;
    left: 120%;
    transform-origin: left;
  }

  li:nth-child(4) a[aria-labelledby]:hover::after {
    top: 120%;
    left: 50%;
    transform-origin: left;
  }

  li:nth-child(5) a[aria-labelledby]:hover::after {
    top: 120%;
    right: 50%;
    transform-origin: right;

  }

  li:nth-child(6) a[aria-labelledby]:hover::after {
    top: 75%;
    right: 120%;
    transform-origin: right;

  }

  li:nth-child(7) a[aria-labelledby]:hover::after {
    top: 0%;
    right: 120%;
    transform-origin: right;

  }

  li:nth-child(8) a[aria-labelledby]:hover::after {
    top: -75%;
    right: 120%;
    transform-origin: right;

  }

  li:nth-child(9) a[aria-labelledby]:hover::after {
    top: -120%;
    left: -50%;
  }
}

/* END info bulles */
/*  */
  .navbar,
  .navbar a{
    /* box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.600); */
    animation: pulse 1.5s infinite ease-in-out;
  }
  @keyframes pulse{
    0% {
      box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.200);
    }
    50% {
      box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.6);
    }
    100% {
      box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.200);
    }
  }

/*  */



.navbar {
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: var(--bg_color);
  margin: 250px auto;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  text-align: center;
  font-size: 2.75em;
  font-weight: bold;
  color: var(--color);
  transition: 0.24s 0.2s;
}

.navbar .menu {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: -75px;
  left: -75px;
  border: 150px solid transparent;
  cursor: default;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 1.4s 0.07s;
  z-index: -1;
}

.navbar:hover .menu {
  transition: transform 0.4s 0.08s, z-index 0s 0.5s;
  transform: scale(1);
  z-index: 1;
}

.navbar .menu li {
  position: absolute;
  top: -100px;
  left: -100px;
  transform-origin: 100px 100px;
  transition: all 0.5s 0.1s;
}

.navbar:hover .menu li {
  transition: all 0.7s;
}

.navbar .menu li a {
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  background: var(--bg_color);
  position: absolute;
  font-size: 59%;
  color: var(--color);
  transition: all 0.7s
}

.navbar .menu li:hover a {
  color: var(--color_hover);
}

.navbar:hover .menu li:nth-child(1) {
  transition-delay: 0.02s;
  transform: rotate(85deg);
}

.navbar:hover .menu li:nth-child(1) a {
  transition-delay: 0.04s;
  transform: rotate(635deg);
}

.navbar:hover .menu li:nth-child(2) {
  transition-delay: 0.04s;
  transform: rotate(125deg);
}

.navbar:hover .menu li:nth-child(2) a {
  transition-delay: 0.08s;
  transform: rotate(595deg);
}

.navbar:hover .menu li:nth-child(3) {
  transition-delay: 0.06s;
  transform: rotate(165deg);
}

.navbar:hover .menu li:nth-child(3) a {
  transition-delay: 0.12s;
  transform: rotate(555deg);
}

.navbar:hover .menu li:nth-child(4) {
  transition-delay: 0.08s;
  transform: rotate(205deg);
}

.navbar:hover .menu li:nth-child(4) a {
  transition-delay: 0.16s;
  transform: rotate(515deg);
}

.navbar:hover .menu li:nth-child(5) {
  transition-delay: 0.1s;
  transform: rotate(245deg);
}

.navbar:hover .menu li:nth-child(5) a {
  transition-delay: 0.2s;
  transform: rotate(475deg);
}

.navbar:hover .menu li:nth-child(6) {
  transition-delay: 0.12s;
  transform: rotate(285deg);
}

.navbar:hover .menu li:nth-child(6) a {
  transition-delay: 0.24s;
  transform: rotate(435deg);
}

.navbar:hover .menu li:nth-child(7) {
  transition-delay: 0.14s;
  transform: rotate(325deg);
}

.navbar:hover .menu li:nth-child(7) a {
  transition-delay: 0.28s;
  transform: rotate(395deg);
}

.navbar:hover .menu li:nth-child(8) {
  transition-delay: 0.16s;
  transform: rotate(365deg);
}

.navbar:hover .menu li:nth-child(8) a {
  transition-delay: 0.32s;
  transform: rotate(355deg);
}

.navbar:hover .menu li:nth-child(9) {
  transition-delay: 0.18s;
  transform: rotate(405deg);
}

.navbar:hover .menu li:nth-child(9) a {
  transition-delay: 0.36s;
  transform: rotate(315deg);
}

a,
a:hover {
  text-decoration: none;
}